<ion-card>
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-elipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center">
    <ion-avatar class="ion-margin-auto">

      <ion-img src="../../../../assets/profile.jpeg"></ion-img>
    </ion-avatar>
    <ion-card-title class="ion-margin-top">
      Ambadi M S
    </ion-card-title>
    <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
  </ion-card-header>
  <div class="item-divider"></div>
<ion-card-content>
 <div>
  <span>Who Viewed Your Profile</span>
  <ion-text color="primary">476</ion-text>
 </div>
 <div class="Connections">
  <span>Connections</span>
  <ion-text color="primary">4456</ion-text>
 </div>
 <ion-card-subtitle color="dark">Manage Your Network</ion-card-subtitle>
</ion-card-content>
</ion-card>
